---
import {Button} from '@nextui-org/react';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<Button color="primary" client:visible>My button</Button>

	</body>
</html>
