---
import { Button } from "@nextui-org/react";
import App from "@/components/App";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- HTML Meta Tags -->
    <title>Base64Decode</title>
    <meta
      name="description"
      content="Effortlessly decode Base64 strings with the fast and user-friendly."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://base64decode.awesometools.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Base64Decode" />
    <meta
      property="og:description"
      content="Effortlessly decode Base64 strings with the fast and user-friendly."
    />
    <meta
      property="og:image"
      content="https://base64decode.awesometools.dev/android-chrome-144x144.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="base64decode.awesometools.dev" />
    <meta
      property="twitter:url"
      content="https://base64decode.awesometools.dev"
    />
    <meta name="twitter:title" content="Base64Decode" />
    <meta
      name="twitter:description"
      content="Effortlessly decode Base64 strings with the fast and user-friendly."
    />
    <meta
      name="twitter:image"
      content="https://base64decode.awesometools.dev/android-chrome-144x144.png"
    />
    <meta name="twitter:creator" content="@atshelchin" />
    <meta name="twitter:site" content="@atshelchin" />

    <!-- Others -->
    <meta name="viewport" content="width=device-width" />
  </head>
  <body class="">
    <div class="flex items-center h-screen justify-center p-4">
      <div class="sm:max-w-4xl h-full w-full">
        <App client:visible />
      </div>
    </div>
    <script defer src="https://umami.appsdata.org/script.js" data-website-id="c0d867e8-a5c1-42d5-8b36-0db4f081621d"></script>
  </body>
</html>
